:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --third-backgrround-color: #f4f4fd;
  --primary-text-color: #434455;
  --second-text-color: #2e2f42;
  --third-text-color: #f4f4fd;
  --left-logo-color: #4d5ae5;
}
body {
  background-color: var(--primary-background-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
.title {
  color: var(--second-text-color);
  letter-spacing: 0.02em;
}
.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.header-page {
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  margin-right: 76px;
}

.header-logo,
.foter-logoo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--left-logo-color);
}
.logo-span {
  color: #2e2f42;
}
.footer-span {
  color: var(--third-text-color);
}
.menu-list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-left: 0;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  bottom: -1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.current {
  color: #404bbf;
}

.header-nav:hover {
  color: #404bbf;
}
.header-nav {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1158px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-address-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}
.link-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: background-color;
  transition-duration: 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-text:hover,
.link-text:focus {
  color: #404bbf;
}
/*========================================== Hero==================================== */
.hero {
  background-color: var(--secondary-background-color);
  max-width: 1440px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  margin-top: 0;
  margin-bottom: 48px;
  text-align: center;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*======================== features==================================== */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.features-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.features-title {
  flex-basis: calc((100% - 72px) / 4);
}
.title-features {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*====================================== about=========================================== */
.about {
  padding-bottom: 120px;
}
.about-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-text-color);
}
.about-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.images {
  flex-basis: calc((100% - 48px) / 3);
  width: 360px;
  height: 300px;
}
img {
  display: block;
}
.img {
  display: block;
}

/*=================================EMpLOyee======================================== */
.employee {
  background: var(--third-backgrround-color);
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1440px;
  margin: auto;
}
.employee-title-list {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-text-color);
}
.employee-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-text-color);
}
.employee-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.employee-item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
  height: 428px;
  padding: 0px 0px 32px;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
}
.employee-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.employee-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}
.social-icon {
  width: 40px;
  height: 40px;
}
.social {
  fill: #f4f4fd;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}
.social-icon-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-list {
  display: flex;

  padding-left: 0;
  justify-content: center;
  gap: 24px;
}
/* ========Company====== */
.company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.company-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.company-item {
  display: flex;

  gap: 24px;
}

.company-logotype {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.company-icon {
  fill: currentColor;
}
.company-link:hover,
.company-link:focus {
  border-color: #404bbf;
  color: #404bbf;

  fill: #404bbf;
}

.company-link {
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*========================================= FOOTER=============================*/

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1440px;
  margin: auto;
}

.footer-items-container {
  display: flex;
  align-items: baseline;
}

.footer-container {
  max-width: 264px;
  margin-right: 120px;
}

.foter-logoo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 264px;
}

.social-media {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--primary-background-color);
}

.footer-media-container {
  max-width: 208px;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.footer-icons {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}
/*============================= Portfolio Styles=========================== */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding-left: 0;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover:hover .text-overlay,
.portfolio-link:focus:focus .text-overlay {
  transform: translateY(0);
}

.portfolio-link {
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--left-logo-color);
  background-color: var(--third-backgrround-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------------------------Card-Content ---------------------------*/

.card-content {
  display: flex;

  flex-wrap: wrap;
  padding-left: 0;
  column-gap: 24px;
  row-gap: 48px;
}

.card-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-item {
  flex-basis: calc((100% - 48px) / 3);
}

.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #f4f4fd;
  position: absolute;
  background-color: #404bbf;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px;
  margin: 0;
  letter-spacing: 0.02em;
  overflow: auto;
}

.cards-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* ---------================Backdrop==============-------------------- */
/* ---------================Backdrop==============-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;

  pointer-events: all;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  padding-top: 72px;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-bottom: 8px;
}

.textarea-container {
  margin-bottom: 16px;
}

.svg-container {
  position: relative;
  margin-bottom: 16px;
}

.modal-form-field {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-input-icon {
}

.modal-form-message {
  resize: none;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  margin-top: 8px;
}

.link {
}

.form-link {
  color: #4d5ae5;
}
.form-link:focus {
  outline: 1px solid #404bbf;
  border-radius: 1px;
}


.modal-form-submit {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  gap: 10px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  border: none;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.visually-hidden {
  /* position: absolute;
  top: 0;
  opacity: 0; */
}

.fake-icon {
}
.fake-check {
  border: none;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: 1px solid #2e2f42;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.svg-check-icon {
}

.modal-form-check:checked + .modal-form-check-desc > .fake-check {
  background-color: #404bbf;
  fill: #ffffff;
  border-color: #404bbf;;
}

.modal-form-check:checked
  + .modal-form-check-desc
  > .fake-check
  > .fake-icon
  > .svg-check-icon {
  fill: #ffffff;
}

.modal-form-check:focus + .modal-form-check-desc > .fake-check {
  outline: 2px solid #404bbf;
  border: none;
}
/* ====================================Foter-form================================ */
/* ====================================Foter-form================================ */

.footer-form-container {
  margin-left: 80px;
  max-width: 453px;
}

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  
}
.footer-form-label {
  margin-right: 24px;
}

.footer-form-email {
  font-weight: 400;
  margin-right: 24px;
  max-width: 264px;
  height: 40px;
  align-items: center;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
  gap: 16px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
}

.footer-submit:hover,
.footer-submit:focus {
  background: #31d0aa;
}

.footer-form-svg {
  margin-left: 16px;
}